<h1><%= title %></h1>
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="form-container border">
  <form method="post" action="/account/update-info" class="form">
    <fieldset>
        <legend>Update Account Information</legend>
        <div class="required">All fields are required</div>    
        <label for="account_firstname" class="top"
        >First Name
        <input
            type="text"
            name="account_firstname"
            id="account_firstname"
            required
            value="<%= locals.account_firstname %>"
        />
        </label>
        <label for="account_lastname" class="top"
        >Last Name
        <input
            type="text"
            name="account_lastname"
            id="account_lastname"
            required
            value="<%= locals.account_lastname %>"
        />
        </label>
        <label for="account_email" class="top"
        >Email
        <input
            type="email"
            name="account_email"
            id="account_email"
            required            
            value="<%= locals.account_email %>"
        />
        </label>
        <input type="hidden" name="account_id" <% if (locals.account_id) { %> 
            value="<%= locals.account_id %>" <% } %>>
    </fieldset>
    <input type="submit" value="Update Account Information" class="submitBtn" />

  </form>




  <form method="post" action="/account/update-password" class="form">
    <fieldset>
        <legend>Change Account Password</legend>
        <label for="old_password" class="top"
            >Old Password
            <input
            type="password"
            name="old_password"
            id="old_password"
            required
            placeholder="Enter old password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            />
            </label>
        <label for="new_password" class="top"
        >New Password<input
            type="password"
            name="new_password"
            id="new_password"
            required
            placeholder="Enter new password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        />
        </label>
        <input type="hidden" name="account_id" <% if (locals.account_id) { %> 
            value="<%= locals.account_id %>" <% } %>>
        <div>
            <h2>*Password must be:</h2>
            <ul class="pwd-list">
            <li>a minumum of 12 characters</li>
            <li>contain at least one capital letter</li>
            <li>contain at least one lowercase letter</li>
            <li>contain at least one number</li>
            <li>contain at least non-alphanumeric character</li>
            </ul>
        </div>
    </fieldset>
    <input type="submit" value="Change Password" class="submitBtn" />
  </form>
</div>