<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> 
<%# messages() %> 
<%- vehicleView %> 
<div class="reviews-title">
    <h3><%- reviewTitle %></h3>
    <hr>
</div>
<div class="reviews-div">
    <%- reviewList%> 
</div>
<div class="add-review">
    <%- addReview %>
</div>